.highlight {
  color: #00f;
  font-size: 14px;
  background: #eaeafd;
}

.highlight .nf, .highlight .k, .highlight .kc, .highlight .kd, .highlight .kp, .highlight .kr, .highlight .kt {
  font-weight: bold;
}

.highlight .c, .highlight .cm, .highlight .cs, .highlight .c1 {
  color: #7f7f7f;
}

.highlight .cp, .highlight .n {
  color: #006100;
}

.highlight .k, .highlight .kc, .highlight .kd, .highlight .kp, .highlight .kr, .highlight .kt {
  color: #00f;
}

.highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .si, .highlight .sx, .highlight .sr, .highlight .s1, .highlight .ss {
  color: #d14;
}

.highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo {
  color: #000;
}

.highlight .na, .highlight .nb, .highlight .nc, .highlight .no, .highlight .ni, .highlight .ne, .highlight .nf, .highlight .nn, .highlight .nt, .highlight .nv{
  color: #228b22;
}

.highlight .gd, .highlight .gd .x, .highlight .ge, .highlight .gr, .highlight .gh, .highlight .gi, .highlight .gi, .highlight .go, .highlight .gp, .highlight .gs, .highlight .gu, .highlight .gt, .highlight .ow, .highlight .w, .highlight .bp, .highlight .vc, .highlight .vg, .highlight .vi, .highlight .il, .highlight .p {
  color: #000;
}
