/* Fonts */

body {
  font-family: 'Droid sans', sans-serif;
}

.menu, h1, h2, h3 {
  font-family: 'Ubuntu';
}

/* Colors */

body {
  color: #333333; /* #502000; */
}

a, a:link, a:visited, h1 {
  color: #ff6900;
  text-decoration: none;
}

a:hover, h2, h3, p#information {
  color: #980000;
  text-decoration: none;
}

::selection {
  color: #fff;
  background-color: #980000;
}

::-moz-selection {
  color: #fff;
  background-color: #980000;
}

/* Style */

body {
  margin: 0px 0px;
  padding: 0px;
  text-align: center;
}

#page {
  width: 800px;
  margin: 0px auto;
  margin-top: 0px;
  text-align: justify;
}

#header {
  margin-top: 8px;
  position: relative;
  height: 40px;
}

.menu {
  font-size: 14pt;
  font-weight: bold;
  width: 100%;
}

.menu ul {
  padding: 6px 0 7px 0;
  margin: 0;
  text-align: center;
}

.menu ul li {
  text-align: center;
  /*
  border: 0;
  border-radius: 8px;
  background-color: #686ec4;
  */
  display: inline;
}

.menu ul li a {
  padding: 6px 3px 4px 3px; /* Top padding is 6px, bottom padding is 4px. */
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
}

blockquote {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 3px solid #ccc;
} 

img {
  border: 0px;
}

#site-title {
  float: left;
  margin: 5px;
  font-size: 200%;
}

div#page {
  padding: 0px;
}

div#content {
  padding: 0px 12px;
  margin-bottom: 36px;
}

div#content p {
  text-indent: 20px;
}

div#logos {
  width: 640px;
  margin: 0px auto;
  margin-top: 0px;
  text-align: justify;
}

div#smlogos {
  width: 700px;
  margin: 0px auto;
  margin-top: 0px;
  text-align: center;
}

div#linktext {
  margin-top: 0px;
  height: 55px;
}

p#information {
  text-align: center;
  font-size: 12pt;
  font-weight: bold;
}

.clear {
  clear: both;
}

.imageleft {
  float: left;
  margin: 15px;
}

.imageright {
  float: right;
  margin: 15px;
}

.image .caption {
  font-size: 50%;
  text-align: center;
}

.imagecenter {
  text-align: center;
}

div.figure {
  float: right;
  margin-left: 15px;
}

div.figure p {
  text-align: center;
  /* font-style: italic; */
  font-size: smaller;
  text-indent: 0;
}

div.terminal {
  text-align: left;
  text-indent: 0px;
  border: 1px solid #dcdccd;
  background-color: #000;
  color: #dcdccd;
  font-family: monospace;
  padding: 1em;
}

h1, h2, h3, li #posts {
  font-weight: bold;
  text-align: left;
}

h1 {
  text-indent: -18px;
  font-size: 16pt;
}

h2, li #posts {
  font-size: 14pt;
}

h2 {
  text-indent: -8px;
}

h3 {
  text-indent: -4px;
  font-size: 12pt;
  font-style: italic;
}

#posts {
  list-style-type: none;
}

